<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1014127107187-mernk7u702e5l677mi1ouvlhrqohtl38.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1014127107187-mernk7u702e5l677mi1ouvlhrqohtl38</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1014127107187-c7g6cjeuiggfnklghiquf5ajisg9ffqj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB-eQtwwGrPj0X3G62YR4Fv2-x1iapsfrM</string>
	<key>GCM_SENDER_ID</key>
	<string>1014127107187</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.filepicker</string>
	<key>PROJECT_ID</key>
	<string>flutterconnectfirebase-858a1</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterconnectfirebase-858a1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1014127107187:ios:eb81a4a86f5e23c70bde06</string>
</dict>
</plist>